@import 'bootstrap/bootstrap';
@import 'font-awesome/font-awesome';


header {
    background: theme-color('primary');

    form {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        input {
            border: 1px solid transparent;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            &:focus {
                border: none;
                outline: none;
            }
        }
        button {
            position: relative;
        }
    }
}

main {
    padding: 9rem 0 2rem 0;
    .about-us {
        border-bottom: .1rem dotted $blue;
        margin-bottom: 2rem;
        margin-top: -2rem;
        display: flex;
        flex-direction: row;
        padding-bottom: 3rem;
        .introduction {    
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align:center;
            @include media-breakpoint-down(md) {
                padding-top: 8rem;
               transform:translateX(50%);
               left:-35%;  
            }
             @include media-breakpoint-down(sm) {
                padding-top: 8rem;
               transform:translateX(50%);
               left:-45%;   
            }
            img {padding-right:1.3rem;
            }
           }    
    }
    a:hover {
        text-decoration: none;
    }
    h2 {
        padding-bottom: 1.3rem;
        @include media-breakpoint-down(sm) {
            transform: translateX(10%);
            left: 50%;
        }
    }
    .description {
        column-count: 2;
        column-gap: 40px;
        img {
            padding-bottom: 1rem;
        }
    }
    .award {
        margin-left: -2rem;
        a {
            color: $red;
        }
    }
    ul {
        li i {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            right: 0;
            padding-right: .8rem;
            font-size: 1.5em;
            color: $gray-600;
        }
    }
}

.aside {
    box-shadow: 11px -4px 9px -10px rgba(18, 8, 18, 0.41);
    height: 100%;
    margin: 0 5.2rem 0 1.5rem;
    padding-right:7rem;
     @include media-breakpoint-down(md) {text-align:center;
    	margin:0;
    	box-shadow:none;
    	padding:0;
    	// display:flex;
     // 	flex-direction:row;
     // 	justify-content:space-between;
     // 	justify-align:center;
    }

    h3 {
        color: $link-color;
        font-weight: 400;
    }
}

.social {
    display: flex;
    flex-direction: column;
    i {
        padding: .5rem 0;
        color: $link-color;
    }
}

footer {
    background: theme-color('primary');
    padding: 1.5rem;
}
@media only screen and (min-width: 990px) and (max-width: 1360px) {
    header .navbar-brand{
    	margin-left:-100px;
    }}

@media only screen and (min-width: 300px) and (max-width:990px) {
    header .navbar-toggler{
    	margin-top:11rem;
    }}
    
   .icon-center{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 6rem;
        font-size: 1.5em;
        color: $gray-600;
        @include media-breakpoint-down(md) {
        	padding-left:5rem;
    		}
    }


.blue{background:blue;}
.green{background:green;}