//
// Border
//
@mixin border {
    content: "";
    border-bottom: 1.5px dotted transparent;
    height: 1.5px;
    width: 4.6rem;
    display: block;
    margin: 1rem 0;
}

.border {
    &:after {
        content: "";
        border-bottom: 1.5px dotted $gray-500;
        height: 1.5px;
        width: 4.6rem;
        display: block;
        margin: 1rem 0;
    }
}

@include media-breakpoint-down(sm) {
    .border {
        &:after {
            @include border;
        }
    }
}

@include media-breakpoint-down(md) {
    .border {
        &:after {
            @include border;
        }
    }
}

.border-0 {
    border: 0 !important;
}

.border-top-0 {
    border-top: 0 !important;
}

.border-right-0 {
    border-right: 0 !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border-left-0 {
    border-left: 0 !important;
}

@each $color,
$value in $theme-colors {
    .border-#{$color} {
        border-color: $value !important;
    }
}

.border-white {
    border-color: $white !important;
}

//
// Border-radius
//
.rounded {
    border-radius: $border-radius !important;
}

.rounded-top {
    border-top-left-radius: $border-radius !important;
    border-top-right-radius: $border-radius !important;
}

.rounded-right {
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
}

.rounded-bottom {
    border-bottom-right-radius: $border-radius !important;
    border-bottom-left-radius: $border-radius !important;
}

.rounded-left {
    border-top-left-radius: $border-radius !important;
    border-bottom-left-radius: $border-radius !important;
}

.rounded-circle {
    border-radius: 50%;
}

.rounded-0 {
    border-radius: 0;
}